@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
html
{
    scroll-behavior: smooth;
}
body 
{
    background-color: #ffffff;
    overflow-x: hidden;
}


/*CABEÇALHO*/
.header
{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
    height: 6rem;  
}
.box-img-header /*LOGO*/
{
    width: 10rem;
    height: 5rem;
    margin-right: 3rem;
}
.box-img-header img 
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
ul
{
    display: flex;
    gap: 3rem;
    list-style-type: none;
}
.item-menu 
{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #1b1a1b;
    font-weight: 600;
    font-size: 1.2rem;
}







/*Apresentação da Empresa-Primeira parte do site*/
.bloco-organizador-da-parte-apresentacao
{
    display: flex;
    background-image:url("img/img-sessao-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.caixa-organizadora-para-separar-apresentacao-1
{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
}
.caixa-organizadora-para-separar-apresentacao-2
{
    height: 100vh;
}
.apresentacao
{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 7.5rem; 
    padding-bottom: 3rem;   
}
.espacinho-para-titulos-apresentacao
{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.titulo-conhecaNossa
{
    font-family: 'Raleway', sans-serif;
    color:#693786;
    font-weight: 600;
    font-size: 50px;
}
.titulo-Empresa
{
    font-family: 'Raleway', sans-serif;
    color: #3ec9c0;
    font-weight: 700;
    font-size: 50px; 
}
.conteudo-apresentacao
{
    font-family: poppins, sans-serif;
    color: #1b1a1b;
    text-align: justify;
    font-size: 20px;
    line-height: 2em;
    font-weight: 500;
    margin-top: 2rem;
    align-self: flex-start;
}
.apresentacao button
{
    color: #ffffff;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    border: 1px solid #7322a6;
    background-color: #7322a6;
    border-radius: 0.5rem;
    padding: 0.2rem;
    height: 3rem;
    width: 11rem;
    transition: all 0.5s ease;  
    cursor: pointer;
}
.apresentacao button:hover
{ 
    background-color: white;
    border: 1px solid #7322a6;
    color: #7322a6;
}
.imagens-icones 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4.5rem;
    gap: 0.2rem;
}
.imagens-icones img
{
    width: 3.5rem;
    height: 3.5rem;
}
.img-apresentacao
{
   width: 100%;
   height: 100%;
   object-fit: cover;
}








/*Parte sobre nós*/
.sobre
{
    display: flex;
    flex-direction: column; 
    width: 100%;
    background-color: #572873;
}
.titulo-sobre
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-weight: 300;
    font-size: 25px;
    justify-content:center; 
    margin-top: 5%;
}
.titulo-saiba
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    justify-content:center; 
}
.conteudo-sobre
{
    display: flex;
    justify-content:center;
    text-align: center;
    margin: 5rem 5rem 8rem 5rem;
    font-family: poppins, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 2em;
    font-weight: 400;    
}







/*Parte O que Buscamos*/
.oq-Buscamos
{
    display: flex;
    flex-direction: row; 
    width: 100%;
    background-color: #ffffff;
}
.organizador-para-buscamos-1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 5rem;
    padding-top: 2rem;
}
.titulo-sobre-b
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color:#000;
    font-weight: 300;
    font-size: 25px;
    align-self: flex-start;
    margin-top: 4%;
}
.titulo-buscamos
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 50px;
    align-self: flex-start;
}
.conteudo-buscamos
{
    text-align: justify;
    margin-top: 2rem;
    font-family: poppins, sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 2em;
    font-weight: 400; 
}
.organizador-para-buscamos-2
{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 60vh;
}
.img-buscamos
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}








/* PARTE INTEGRANTES*/
.integrantes
{
    width: 100%;
    height: 80rem;
    background-image: url(img/fundo-sessao-4.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.espacinho-para-titulos-integrantes
{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}
.titulo-integrantes
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-weight: 300;
    font-size: 25px;
    justify-content:center;
}
.titulo-conheca-nos
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    justify-content:center; 
}
.cards
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 5rem;
    max-width: 65%;
    margin-bottom: 4rem;
}
.parte-externa
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 290px;
    background-color: #ffffff;
    border-radius: 3%;
    transition: all 0.5s ease;
}
.parte-externa:hover
{
    transform: translateY(-0.5rem);
    margin-left: 2px;
}
.parte-interna-um
{
    border-top: 1px solid #1b1a1b;
    border-bottom: 1px solid #1b1a1b;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #e6d0ef;
    align-items: center;  
}
.parte-interna-dois
{
    border-top: 1px solid #1b1a1b;
    border-bottom: 1px solid #1b1a1b;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #fcd6ec;
    align-items: center;
}
.parte-interna-tres
{
    border-top: 1px solid #1b1a1b;
    border-bottom: 1px solid #1b1a1b;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #d6ebfc;
    align-items: center;
}
.icone
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding-right: 3%;
    padding-bottom: 2%;
}
.redes
{
    width: 30px;
    height: 30px;
    margin-left: 1%;
}
.image-card-integrantes
{
    width: 150px;
    height: 150px;
    align-items: center;
    border: 2px solid #1b1a1b;
    border-radius: 100%;
}
.nomes
{
    font-family: "Dosis";
    font-weight: Medium 500;
    color: #151515;
    padding-top: 3%;
    padding-bottom: 3%;
}






/*Parte Projetos*/
.projetos
{
    display: flex;
    flex-direction: row; 
    width: 100%;
    background-color: #ffffff;
}
.organizador-para-projetos-1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 5rem;
    padding-top: 2rem;
}
.titulo-projetos
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color:#000;
    font-weight: 300;
    font-size: 25px;
    align-self: center;
    margin-top: 4%;
}
.titulo-veja
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 50px;
    align-self: center;
}
.conteudo-projetos
{
    text-align: center;
    margin-top: 4rem;
    font-family: poppins, sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 2em;
    font-weight: 400; 
}
.organizador-para-projetos-2
{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 65vh;
}
.img-projeto
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projetos button
{
    border: 1px solid #1d4ba0;
    background-color: #1d4ba0;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin-top: 3rem;
    height: 3rem;
    width: 11rem;
    transition: all 0.5s ease;  
    cursor: pointer;
}
.projetos button:hover
{ 
    background-color: white;
    border: 1px solid #1d4ba0;
    color: #1d4ba0;
}








.contato
{
    display: flex;
    background-color: #232b5a;
    width: 100vw;
}
.organizador-para-parte-form-do-contato
{
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.titulos-do-contato
{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 5rem;
}
.titulo-contato
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-weight: 300;
    font-size: 25px;
    align-self: flex-start;
}
.titulo-fale
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    align-self: flex-start;
}
form
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-left: 5rem;
    max-width: 85%;
    gap: 1.3rem;
}
.caixa-para-separar-os-iputs-do-textarea
{
    display: flex;
    flex-direction: row;
    gap: 7.5rem;
}
.apoio-para-organizar-os-inputs
{
    display: flex;
    flex-direction: column;
    line-height: 5rem;
}
form label
{
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
form input
{
    background-color: #232b5a;
    border-bottom: 1px solid #fff;
    width: 15vw;
    color: #fff;
    outline: none;
}
form textarea
{
    background-color: #232b5a;
    border: 1px solid #fff;
    color: #fff;
    height: 10rem;
    width: 100%;
    outline: none;
    resize: none;
}
.apoio-para-organizar-o-button
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2.6rem;
}
form button
{
    border: 1px solid #ffffff;
    background-color: #232b5a;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin-top: 2rem;
    height: 3rem;
    width: 10rem;
    transition: all 0.5s ease;  
    cursor: pointer;
}
form button:hover
{ 
    background-color: white;
    border: 1px solid #232b5a;
    color: #232b5a;
}
.organizador-para-parte-info-do-contato
{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    margin-top: 2.7rem;
}
.para-guardar-o-texto
{
    display: flex;
    flex-direction: column;
    padding: 1rem 0.1rem 5rem 2.5rem;
    margin: 1.2rem;
    height: 100%;
    border-left: 2px solid #ffffff;
}
.titulo-info
{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    align-self: flex-start;
}
.escritos-para-contato
{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    align-self: flex-start;
    line-height: 2.8rem;
    padding-top: 8rem;
}









/*Responsividade*/
/*Cards*/
@media (max-width: 1552px)
{
    .cards
    {
        max-width: 70%;
    }
    .parte-externa
    {
        width: 250px;
        height: 210px;
        background-color: #ffffff;
        border-radius: 3%;
        transition: all 0.5s ease;
    }
    .parte-interna-um
    {
        padding-top: 5px;
        width: 100%;
        height: 130px;
    }
    .parte-interna-dois
    {
        padding-top: 5px;
        width: 100%;
        height: 130px;
    }
    .parte-interna-tres
    {
        padding-top: 5px;
        width: 100%;
        height: 130px;
    }
    .icone
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: right;
        align-items: center;
        padding-right: 3%;
        padding-bottom: 2%;
    }
    .redes
    {
        width: 28px;
        height: 27px;
        margin-left: 1%;
    }
    .image-card-integrantes
    {
        width: 120px;
        height: 120px;
        align-items: center;
    }
    .nomes
    {
        font-family: "Dosis";
        font-weight: Medium 500;
        color: #151515;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}






/* RODAPÉ */
@media(max-width: 1518px)
{
    .contato
    {
        flex-direction: column;
    }
    .organizador-para-parte-form-do-contato
    {
        width: 100vw;
    }
    .organizador-para-parte-form-do-contato form
    {
        justify-content: center;
    }
    .organizador-para-parte-form-do-contato form textarea
    {
        width: 49vw;
    }
    .organizador-para-parte-info-do-contato
    {
        width: 100vw;
        height: auto;
    }
    .para-guardar-o-texto
    {
        border-left: none;
        align-items: center;
        justify-content: center;
        width: 89vw;
        margin-left: 5rem;
        padding-left: 0;
        border-top: 2px solid #fff ;
    }
    .titulo-info
    {
        align-self: left;
        width: 100%;
        margin-top: 1rem;
    }
    .escritos-para-contato
    {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        padding-top: 0;
        width: 100%;
        gap: 2rem;
    }
}






@media(max-width:1500px)
{
    .apresentacao
    {
        width: 100%;
        padding: 4rem;
    }
    .apresentacao button
    {
        width: 15rem;
        margin: 1.6rem;
    }
    .imagens-icones
    {
        margin-top:3rem;
    }
    .bloco-organizador-da-parte-apresentacao
    {
        display: flex;
        background-image:none;
        height: 80vh;
    }
    .caixa-organizadora-para-separar-apresentacao-1
    {
        width: 100%;
        height: 80vh;
    }
    .titulo-saiba
    {
        text-align: center;
    }
    .oq-Buscamos
    {
        width: 100%;
    }
    .organizador-para-buscamos-1
    {
        padding: 2rem;
        width: 100%;
    }
    .organizador-para-buscamos-2
    {
        display: none;
    }
    .titulo-sobre-b
    {
        align-self: center;
    }
    .titulo-buscamos
    {
        align-self: center;
        text-align: center;
    }
    .conteudo-buscamos
    {
        text-align: center;
        margin: 4rem;
        margin-bottom: 6rem;
    }
    .img-buscamos
    {
        display: none;
    }
    .organizador-para-projetos-1
    {
        width: 100%;
        padding: 3rem;
        padding-top: 2rem;
    }
    .organizador-para-projetos-2
    {
        display: none;
    }
    .projetos button
    {
        width: 15rem;
    }
    .cards
    {
        gap: 2rem;
    }
}







/*Rodapé*/
@media(max-width: 1339px)
{
    .escritos-para-contato
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-self: center;
        flex-wrap: wrap;
        height: 8rem;
        width: 100%;
        gap: 1rem;
    }
}







@media (max-width: 1182px)
{
    .cards
    {
        max-width: 85%;
    }
}




@media(max-width:1000px)
{  
    .conteudo-sobre
    {
        padding: 0rem;
        margin: 2rem;
        margin-bottom: 5rem;
    }
    .titulo-sobre-b
    {
        margin-top: 1rem;
    }
    .titulo-veja,.conteudo-projetos
    {
        margin: 0;
        padding: 0;
    }
    .titulo-buscamos, .titulo-veja
    {
        margin-bottom: 2rem;
    }
    .conteudo-buscamos
    {
        text-align: center;
        margin: 0rem;
        margin-bottom: 3rem;
    }
   
    /*Rodapé*/
    .contato
    {
        flex-direction: column;
    }
    .titulos-do-contato
    {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
    form
    {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 3rem;
        width: 80%;
        gap: 1.5rem;
    }
    .caixa-para-separar-os-iputs-do-textarea
    {
        flex-direction: row;
        gap: 4rem;
    }
    .apoio-para-organizar-os-inputs
    {
        flex-direction: column;
        line-height: 5rem;
    }
    form input
    {
        width: 10rem;
    }
    form textarea
    {
        border: 1px solid #fff;
    }
    .organizador-para-parte-form-do-contato form textarea
    {
        width: 53vw;
    }
    .apoio-para-organizar-o-button
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    form button
    {
        font-size: 20px;
        border-radius: 0.5rem;
        padding: 0.2rem;
        margin-top: 2rem;
        height: 3rem;
        width: 12rem;
    }
    .organizador-para-parte-info-do-contato
    {
        border-top: 2px solid #fff ;
    }
    .para-guardar-o-texto
    {
        display: flex;
        border-top: 0;
        border: none;
    }
    .titulo-info
    {
        margin-bottom: 1.5rem;
    }
    .escritos-para-contato
    {
        text-align: center;
        font-size: 20px;
        margin-top: 0;
    }
}  








/* Media para ajustar os cards da parte integrantes*/
@media(max-width: 970px) 
{
    .cards
    {
        max-width: 90%;
    }
    .parte-externa
    {
        width: 200px;
        height: 170px;
        border-radius: 3%;
    }
    .parte-interna-um
    {
        padding-top: 10px;
        width: 100%;
        height: 110px;
    }
    .parte-interna-dois
    {
        padding-top: 10px;
        width: 100%;
        height: 110px;
    }
    .parte-interna-tres
    {
        padding-top: 10px;
        width: 100%;
        height: 110px;
    }
    .icone
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: right;
        align-items: center;
        padding-right: 3%;
        padding-bottom: 2%;
    }
    .redes
    {
        width: 23px;
        height: 22px;
        margin-left: 1%;
    }
    .image-card-integrantes
    {
        width: 90px;
        height: 90px;
        align-items: center;
    }
    .nomes
    {
        font-family: "Dosis";
        font-weight: 500;
        color: #151515;
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 12px;
    }


    .organizador-para-parte-form-do-contato form textarea
    {
        width: 32.5rem;
    }
    .titulo-saiba, .titulo-buscamos, .titulo-conheca-nos, .titulo-veja, .titulo-fale, .titulo-info
    {
        font-size: 42px;
    }

}





@media(max-width: 760px)
{
    .box-img-header
    {
        margin-right: 1.9rem;
    }
}







@media (max-width: 680px)
{
    .box-img-header /*LOGO*/
    {
        margin-right: 0.5rem;
    }
    ul
    {
        gap: 1.3rem
    }
    .item-menu
    {
        font-size: 15px;
    }
    .apresentacao
    {
        padding: 4rem;
        height: 80vh;
    }
    .conteudo-apresentacao, .conteudo-buscamos, .conteudo-projetos, .conteudo-sobre
    {
        font-size: 14px;
        text-align: justify;
    }
    .titulo-conhecaNossa, .titulo-Empresa
    {
        font-size: 40px;
    }
    .conteudo-apresentacao
    {
        line-height: 1.8rem;
    }
    .apresentacao button
    {
        height: 2.4rem;
        width: 11rem;
        font-size: 20px;
    }
    .imagens-icones
    {
        margin-top: 3rem;
    }
    .imagens-icones img
    {
        width: 3.5rem;
        height: 3.5rem;
    }
    .escritos-para-contato
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        height: 13rem;
        line-height: 2rem;
    }
    .titulo-buscamos
    {
        margin-bottom: 0.3rem;
    }
    .titulo-saiba, .titulo-buscamos, .titulo-conheca-nos, .titulo-veja, .titulo-fale
    {
        font-size: 33px;
        text-align: center;
    }
    .titulo-info
    {
        font-size: 35px;
    }
    .conteudo-buscamos
    {
        text-align: justify; 
        padding: 0;
        margin: 0.7rem;
        margin-top: 1rem; 
    }
    .conteudo-sobre
    {
        text-align: justify; 
        padding: 0; 
        margin: 2rem;
    }
    .organizador-para-projetos-1
    {
        padding: 1rem;
    }
    .conteudo-projetos
    {
        text-align: justify;  
        padding: 0;
        margin: 1rem;
    }
    .projetos button
    {
        height: 2.4rem;
        width: 11rem;
        font-size: 20px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem ;
    }


    /*Rodapé*/
    form
    {
        margin-left: 2rem;
    }
    form input
    {
        width: 23rem;
    }
    .organizador-para-parte-form-do-contato form textarea
    {
        width: 23rem;
    }
    .para-guardar-o-texto
    {
        margin-left: 3rem;
    }
    .escritos-para-contato
    {
        font-size: 18px;
    }
    .titulo-info
    {
        padding-left: 2rem;
    }
    .conteudo-apresentacao, .conteudo-buscamos, .conteudo-projetos, .conteudo-sobre
    {
        text-align: justify;
    }
   
}







@media (max-width: 577px)
{
    .organizador-para-parte-form-do-contato form textarea
    {
        width: 68vw;
    }
    .apresentacao
    {
        padding: 2.5rem;
    }
    .titulo-saiba
    {
        padding: 0.5rem;
    }
    .titulo-sobre
    {
        margin-top: 2.5rem;
    }
    .imagens-icones img
    {
        width: 2.8rem;
        height: 2.8rem;
    }
}





@media (max-width: 480px){
    /*Cards*/
    .cards
    {
        max-width: 100%;
        gap: 1rem;
    }
}





@media(max-width: 450px)
{
    .box-img-header
    {
        width: 7rem;
        height: 3rem;
    }
    ul
    {
        gap: 1rem;
    }
    .item-menu
    {
        font-size: 13px;
    }


    /*Form*/
    .titulos-do-contato
    {
        margin-left: 2rem;
    }
    .titulo-info
    {
        padding-left: 0;
    }
    form input
    {
        width: 19rem;
    }
    .para-guardar-o-texto
    {
        margin-left: 1.6rem;
    }

    /*subtitulos*/
    .titulo-projetos, .titulo-sobre, .titulo-sobre-b, .titulo-integrantes, .titulo-contato
    {
        font-size: 18px;
    }

    /*titulos*/
    .titulo-saiba, .titulo-buscamos, .titulo-conheca-nos, .titulo-veja, .titulo-info, .titulo-fale
    {
        font-size: 29px;
    }
}

/* Media para ajustar novamente os cards da parte integrantes*/
@media(max-width: 430px)
{
    .parte-externa
    {
        width: 180px;
        height: 150px;
    }
    .parte-interna-um
    {
        width: 100%;
        height: 100px;
        padding-top: 7px;
    }
    .parte-interna-dois
    {
        width: 100%;
        height: 100px;
        padding-top: 7px;
    }
    .parte-interna-tres
    {
        padding-top: 7px;
        width: 100%;
        height: 100px;
    }
    .icone
    {
        padding-bottom: 1%;
    }
    .redes
    {
        width: 20px;
        height: 19px;
        margin-left: 1%;
    }
    .image-card-integrantes
    {
        width: 85px;
        height: 85px;
        align-items: center;
    }
    .nomes
    {
        font-family: "Dosis";
        font-weight: 500;
        color: #151515;
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 12px;
    }
}






@media(max-width: 375px)
{
    .box-img-header
    {
        width: 6rem;
        height: 3rem;
        margin-right: 0.2rem;
    }
    .item-menu
    {
        font-size: 13px;
    }

    .cards
    {
        margin-top: 2.5rem;
    }

    form input, .organizador-para-parte-form-do-contato form textarea
    {
        width: 15rem;
    }
}



@media(max-width: 345px)
{
    .header
    {
        justify-content: center;
    }
    ul
    {
        display: none;
    }
}




@media(max-width: 300px)
{
    form input, .organizador-para-parte-form-do-contato form textarea
    {
        width: 12rem;
    }
    .escritos-para-contato p 
    {
        font-size: 16px;
    }
}


