@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body 
{
    font-size: 100%;
    background-color: #ffffff;
}


/*COMEÇO DO CABEÇALHO*/
header
{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
    height: 6rem;  
}
header img /*LOGO*/
{
    height: 6rem;
    padding: 1%;
}
ul
{
    display: flex;
    gap: 3rem;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    color: #1b1a1b;
    font-weight: 600;
    font-size: 1.2rem;
}
a
{
    text-decoration: none;
    list-style-type: none;
}

/*Apresentação da Empresa-Primeira parte do site*/
.apresentacao
{
    display: flex;
    flex-direction: column; 
    width: 50%;
    margin-top: 8rem;
    margin-left: 6%;
}
.titulo-conhecaNossa
{
    font-family: 'Raleway', sans-serif;
    color:#693786;
    font-weight: 600;
    font-size: 50px;
    line-height: 0%;
    align-items:flex-start; 
}
.titulo-Empresa
{
    font-family: 'Raleway', sans-serif;
    color: #3ec9c0;
    font-weight: 700;
    font-size: 50px;
    align-items:flex-start; 
}
.conteudo-apresentacao
{
    font-family: 'Dosis', sans-serif;
    color: #1b1a1b;
    text-align: justify;
    font-size: 27px;
    word-spacing: 2px;
    line-height: 1.5em;
    font-weight: 500;
    align-items:flex-start; 
}
.apresentacao button
{
    align-self: center;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    border: 1px solid #7322a6;
    background-color: #7322a6;
    border-style: none;
    height: 3.8rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin-top: 10%;
    width: 30%;
    transition: all 0.5s ease;  
}
.apresentacao button:hover
{ 
    background-color: white;
    border: 1px solid #7322a6;
    color: #7322a6;
}
.imagens-icones 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 19%;
    margin-bottom: 2%;
}
.imagens-icones img
{
    width: 4rem;
    height: 4rem;
}
/* .img-da-apresentacao
{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.img-apresentacao
{
    width: 20rem;
} */







/*Parte sobre nós*/
.sobre
{
    display: flex;
    flex-direction: column; 
    width: 100%;
    background-color: #572873;
    height: 29rem;
}
.titulo-sobre
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-weight: 300;
    font-size: 25px;
    justify-content:center; 
    margin-top: 5%;
    line-height: 0%;
}
.titulo-saiba
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    justify-content:center; 
}
.conteudo-sobre
{
    display: flex;
    justify-content:center;
    text-align: center;
    margin: 10%;
    margin-top: 2%;
    font-family: 'Dosis', sans-serif;
    color: #fff;
    font-size: 25px;
    word-spacing: 2px;
    line-height: 1.5em;
    font-weight: 400;    
}







/*Parte O que Buscamos*/
.oq-Buscamos
{
    display: flex;
    flex-direction: row; 
    width: 100%;
    background-color: #ffffff;
    height: 27rem;
}
.organizador-para-buscamos-1
{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.titulo-sobre-b
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color:#000;
    font-weight: 300;
    font-size: 25px;
    justify-content:left; 
    margin-top: 4%;
    line-height: 0%;
    margin-left: 3%;
}
.titulo-buscamos
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #000;
    margin-left: 3%;
    font-weight: 400;
    font-size: 50px;
    justify-content:left; 
}
.conteudo-buscamos
{
    display: flex;
    justify-content:left;
    width: 45rem;
    text-align: justify;
    margin-left: 3%;
    margin-top: 1%;
    font-family: 'Dosis', sans-serif;
    color: #000;
    font-size: 25px;
    word-spacing: 2px;
    line-height: 1.5em;
    font-weight: 400; 
}
.organizador-para-buscamos-2
{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.img-buscamos
{
    width: 100%;
    height: 100%;
}








/* PARTE INTEGRANTES*/
.integrantes
{
    width: 100%;
    height: 80rem;
    background-image: url(img/fundo-sessao-4.jpg);
}
.titulo-integrantes
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-weight: 300;
    font-size: 25px;
    justify-content:center;
}
.titulo-conheca-nos
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    justify-content:center; 
}
.cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    background-color: #3ec9c0;
    margin-top: 5%;
}
.parte-externa
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 290px;
    background-color: #ffffff;
    border-radius: 3%;
    transition: all 0.5s ease;
}
.parte-externa:hover
{
    transform: translateY(-0.5rem);
    margin-left: 2px;
}
.primeira-fileira
{
    display: flex;
    gap: 3rem;
}
.parte-interna-um
{
    border-top: 1px solid #1b1a1b;
    border-bottom: 1px solid #1b1a1b;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #e6d0ef;
    align-items: center;  
}
.segunda-fileira
{
    display: flex;
    gap: 3rem;
}
.parte-interna-dois
{
    border-top: 1px solid #1b1a1b;
    border-bottom: 1px solid #1b1a1b;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #fcd6ec;
    align-items: center;
}
.terceira-fileira
{
    display: flex;
    gap: 3rem;
}
.parte-interna-tres
{
    border-top: 1px solid #1b1a1b;
    border-bottom: 1px solid #1b1a1b;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #d6ebfc;
    align-items: center;
}
.icone
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding-right: 3%;
    padding-bottom: 2%;
}
.redes
{
    width: 30px;
    height: 30px;
    margin-left: 1%;
}
.image-card-integrantes
{
    width: 150px;
    height: 150px;
    align-items: center;
    border: 2px solid #1b1a1b;
    border-radius: 100%;
}
.nomes
{
    font-family: "Dosis";
    font-weight: Medium 500;
    color: #151515;
    padding-top: 3%;
    padding-bottom: 3%;
}






/*Parte dos Projetos que só tem um projeto*/
.projetos
{
    display: flex;
    flex-direction: column; 
    width: 100%;
    background-color: #ffffff;
    height: 30rem;
}
.organizador-para-projetos-1
{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.titulo-projeto
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color:#000;
    font-weight: 300;
    font-size: 25px;
    justify-content:flex-start; 
    margin-top: 4%;
    margin-left: 3%;
}
.titulo-veja
{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #000;
    margin-left: 3%;
    font-weight: 400;
    font-size: 50px;
    justify-content:flex-start; 
}
.conteudo-projeto
{
    display: flex;
    justify-content:center;
    width: 45rem;
    text-align: center;
    margin-left: 2%;
    margin-top: 1%;
    font-family: 'Dosis', sans-serif;
    color: #000;
    font-size: 25px;
    word-spacing: 2px;
    line-height: 1.5em;
    font-weight: 400; 
}
.projetos button
{
    align-self: left;
    margin-left: 13%;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    border: 1px solid #1d4ba0;
    background-color: #1d4ba0;
    border-style: none;
    height: 3.5rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin-top: 3%;
    width: 12%;
    transition: all 0.5s ease;  
}
.projetos button:hover
{ 
    background-color: white;
    border: 1px solid #1d4ba0;
    color: #1d4ba0;
}
.organizador-para-projetos-2
{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.img-projeto
{
    width: 100%;
    height: 100%;
}




















@media (max-width: 780px)
{
    .cabecalho-nav
    {
        width: 100%;
    }
    .cabecalho-logo /* Logo AION*/
    {
        height: 69px;
        padding-right: 1.5em;

    }
    .cabecalho-menu 
    {
        display: flex;
        gap: 39px;
    }
    .cabecalho-menu-itens
    {
        color: aqua;
        font-size: 18px;
    }

}
@media (max-width: 620px)
{
    .cabecalho-nav
    {
        width: 100%;
    }
    .cabecalho-logo /* Logo AION*/
    {
        height: 60px;
        padding-right: 0.5em;

    }
    .cabecalho-menu 
    {
        display: flex;
        gap: 20px;
        font-size: 15px;
    }
    .cabecalho-menu-itens
    {
        color: rgb(247, 0, 255);
        font-size: 15px;
    }

}
